@charset "UTF-8";
/* Minha Paleta de cores
#D9B68B
#A68160
#731702
#BF3C1F
#260101 
*/
:root{
    --corformulario: #f8f8f8;
    --corexterna: #a6e0d8c5;
    --cor02: #2A5CBF;
    --cor03: #168BF2;
    --cor04: #062A40;
    --cor05: #1BA0F2;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--corexterna);
}

main{
    width: 100vw;  /* Essas duas configurações deixam o main ocupando a tela toda*/
    height: 100vh;
    position: relative; /* Essa tag é para que o main seja visto como um "pai" das outras caixas que ficarão dentro do main e com isso essas caixas se posicionem de um modo absoluto em relação ao main*/
    background-image: linear-gradient(to right, var(--corexterna), var(--cor03), var(--cor02));
}

section#login{
    width: 250px;
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.574);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(4, 4, 4, 0.856);
    position: absolute;
    top: 50%; /* Desce a caixa 50% abaixo*/
    left: 50%; /* Desloca a caixa para a esquerda*/
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    height: 200px;
    background-image: url(../imagens/entrada.jpg);
    background-size:cover ; /* tag cobre o espaço selecionado com toda a imagem selecionada*/
    display: block;
    background-position: center bottom; /* Altera a centralização da imagem*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section#login > div#formulario{
    height: 200px;
    background-color: var(--corformulario);
    border-bottom-left-radius: 10px;  /*Essas duas config são para que apenas a parte selecionada (left e right) arredondem*/
    border-bottom-right-radius: 10px;
}

div#formulario > h1{
    text-align: center;
    padding: 10px;
}

div#formulario > p{
    text-align: center;
}